@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Playfair+Display');

/*===========UNIVERSALS============*/

h1, h2, h3, h4, h5, p {
  font-family: 'Playfair Display', serif;

}

a {
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #000;
}


/*=================NAV=============*/
#logoheader {
  height: 80px;
}

nav {
  box-shadow:5px 0px 30px #837f7f;
  }

.navbar-default .navbar-collapse {
  padding: 30px;
}

nav li {
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
}

nav li:hover {
  color: #fff;
}
/*==============HEADER==============*/

.headercover {
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-position: center;
  height: 750px;
  margin: 0px;
  box-shadow:0px 5px 30px #837f7f;
  position: relative;
  z-index: 1;
}


#logo {
  border: 2px solid #837f7f;
  border-bottom: none;
  margin-top: 190px;

}

#logoimg {
  height: 100px;
}

#logo h1 {
  padding: 40px;
  font-family: 'Playfair Display', serif;
}

#logo button {
  font-family: 'Playfair Display', serif;

}

button:hover {
  background-color: #fff;
}

/*============BLOCKS=================*/
.background-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.background {
  height: 3000px;
  background-image: url("../img/texture.png");
  box-shadow: 0 5px 20px #837f7f;
  margin: 0 80px;
  position: relative;
  z-index: 0;
}

/*==============ABOUT BLOCK==========*/
.about {
  position: absolute;
  top: 5%;
  left: -1%;
}

.aboutblockpic {
  height: 350px;
  background-image: url("../img/anna.jpg");
  background-position: center;
  background-size: cover;
  box-shadow:0px 5px 40px #837f7f;

}

.aboutblocktext {
  height: 350px;
  background-color: #fff;
  box-shadow: 5px 5px 50px #837f7f;
  overflow: scroll;
}


/*============WHAT I DO BLOCK=========*/
.whatido {
  position: absolute;
  top: 20%;
  right: -1%;
}

.doblockpic {
  height: 350px;
  background-image: url("../img/computer.jpg");
  background-position: center;
  background-size: cover;
  box-shadow:0px 5px 40px #837f7f;
}

.doblocktext {
  height: 350px;
  background-color: #fff;
  box-shadow: 5px 5px 50px #837f7f;
  overflow: scroll;
}



/*==============WORK============*/
.work {
  background-color: #EBEBEB;
  height: 800px;
  box-shadow: 5px 5px 50px #837f7f;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  z-index: 2;
}

.work-text {
  margin: 30px;
  font-size: 50px;
}

.workbox {
  /*border: 1px solid #000;*/
  height: 250px;
}

/*============WORK BOXES ROW 1============*/
.w1 {
  background-image: url("../img/mt.png");
  background-size: cover;
}

.w2{
  height: 70px;
  background-image: url("../img/mt logo.png");
}

.w3 {
  background-image: url("../img/petstore.png");
  background-size: cover;
}

.w5 {
  background-image: url("../img/Dorie 1.jpg");
  background-size: cover;
  height: 430px;
  margin-top: -180px;
}

.w6 {
  background-image: url("../img/rest.png");
  background-size: cover;

}

.workcontain {
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.workcontain:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap;
  color: white;
  position: relative;
  overflow: hidden;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/*===============FOOTER================*/
.footer {
  background-color: #000;
  height: 300px;
  position: relative;
  bottom: 0;
}

#socialmedia {
  color: #fff;
}

#contactinfo {
  color: #fff;
}

/*=============MEDIA QUERIES===========*/


@media only screen and (max-width: 799px ) {

/*=========HEADER=============*/
  #logo h1 {
    padding: 0;
  }

  .headercover {
    height: 700px;
  }

  #logoheader {
    height: 60px;
    transform: translateY(-20px);
  }
/*========FLOAT BOXES========*/
  .background {
    margin: 0 20px;
  }

  .workbox {
    height: 100px;
  }

  .work {
    overflow: scroll;
  }


}
