@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Playfair+Display');

/*===========UNIVERSALS============*/

h1, h2, h3, h4, h5 {
  font-family: 'Josefin Slab', serif;

}

p {
  font-family: 'Playfair Display', serif;



}

a {
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #000;
}

.background {
  height: 1000px;
  background-color: #837f7f;
  box-shadow: 0 5px 20px #000;

}
/*=================NAV=============*/
#logoheader {
  height: 80px;
}

nav {
  background-color: #EBEBEB;
  box-shadow:5px 0px 30px #000;

  }

nav li {
  list-style: none;
  text-decoration: none;
  display: inline-block;
  padding: 20px 50px;
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
}

nav li:hover {
  color: #fff;
}
/*==============HEADER==============*/

.cover {
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-position: center;
  height: 750px;
  margin: 0px;
  box-shadow:0px 5px 40px #000;
  z-index: 4;

}


#logo {
  border: 2px solid #837f7f;
  border-bottom: none;
  margin-top: 190px;

}

#logoimg {
  height: 100px;
}

#logo h1 {
  font-size: 100px;
  padding: 40px;
  font-family: 'Playfair Display', serif;

  /*margin-top: -50px;*/

}

#logo button {
  font-family: 'Playfair Display', serif;

}

button:hover {
  background-color: #fff;
}

/*============BLOCKS=================*/
/*==============ABOUT BLOCK==========*/
.aboutblockpic {
  height: 350px;
  background-image: url("../img/anna.jpg");
  background-position: center;
  background-size: cover;
  margin: 80px -40px;
  box-shadow:0px 5px 40px #000;

}

.aboutblocktext {
  height: 350px;
  background-color: #fff;
  margin: 80px 0px;
  box-shadow: 5px 5px 50px #000;
}


/*============WHAT I DO BLOCK=========*/
.doblockpic {
  height: 350px;
  background-image: url("../img/computer.jpg");
  background-position: center;
  background-size: cover;
  margin: 80px -40px;
  box-shadow:0px 5px 40px #000;

}

.doblocktext {
  height: 350px;
  background-color: #fff;
  margin: 80px 0px;
  box-shadow: 5px 5px 50px #000;
}

/*==============WORK============*/
.work {
  background-color: #EBEBEB;
  height: 400px;
}




/*=============MEDIA QUERIES===========*/

@media only screen and (max-width: 500px) {
    .b2{
      margin: 80px 0px;
      height: 200px;
    }
    .b1 {
      margin: 80px 0px;
      height: 200px;
    }
    #logo h1 {
      font-size: 50px;
    }
  }

  @media only screen and (max-width: 1082px) {
    #logo h1 {
      font-size: 70px;
    }
}
@media only screen and (max-width: 892px) {
  #logo h1 {
    font-size: 50px;
  }
}
