@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Playfair+Display');

/*===========UNIVERSALS============*/
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


 h1, h2, h3, h4, h5 {
   font-family: 'Josefin Sans', sans-serif;
}

p {
  font-family: 'Playfair Display', serif;
}

.bold {
  font-weight: 700;
}

.white-text {
  color: #fff;
}

a {
  color: #000;
}

a:hover, a:focus {
  text-decoration: none;
  color: #000;
}

.col-xs-12 {
  padding: 0;
}

/*=================NAV=============*/
#logoheader {
  height: 80px;
}

nav {
  box-shadow:5px 0px 30px #837f7f;
  }

.navbar-default .navbar-collapse {
  padding: 30px;
}

nav li {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}

nav li:hover {
  color: #fff;
}


.navblock1 {
  height: 100px;
  background-color: #6d6759;
  box-shadow: 5px 5px 50px #000;
  position: absolute;
  top: 4%;
  left: 20%;
  z-index: 3;
}

.navblock2 {
  height: 100px;
  background-color: #D45457;
  box-shadow: 5px 5px 50px #000;
  position: absolute;
  top: 7%;
  left: 5%;
  z-index: 2;
}



/*==============HEADER==============*/

.headercover {
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  box-shadow:0px 5px 30px #837f7f;
  position: relative;
  z-index: 1;
}

#logo {
  border: 2px solid #837f7f;
  border-bottom: none;
  margin-top: 190px;

}

#logoimg {
  height: 100px;
}

#logo h1 {
  padding: 40px;
  font-family: 'Josefin Sans', sans-serif;
}

#logo button {
  font-family: 'Playfair Display', serif;

}

button:hover {
  background-color: #fff;
}

/*============BLOCKS=================*/
.background-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.background {
  height: 3700px;
  background-image: url("../img/texture.png");
  box-shadow: 0 5px 20px #837f7f;
  margin: 0 80px;
  position: relative;
  z-index: 0;
}

/*==============ABOUT BLOCK==========*/
.about {
  position: absolute;
  top: 5%;
  left: -3%;
  right: 3%;
  z-index: 2;
}

.aboutblockpic {
  height: 350px;
  background-image: url("../img/anna.jpg");
  background-position: center;
  background-size: cover;
  box-shadow:0px 5px 40px #000;

}

.aboutblocktext {
  height: 350px;
  background-color: #fff;
  box-shadow: 5px 5px 50px #000;
  overflow: scroll;

}

.aboutblocktext h1 {
  border-bottom: 1px solid #000;

}

.backabout{
  height: 350px;
  background-color: #6d6759;
  box-shadow: 5px 5px 50px #000;
  position: absolute;
  top: 3%;
  left: -2%;
  z-index: 0;
}

/*============WHAT I DO BLOCK=========*/
.whatido {
  position: absolute;
  top: 20%;
  right: -2%;
  left: 2%;
  z-index: 2;
}

.doblockpic {
  height: 350px;
  background-image: url("../img/computer.jpg");
  background-position: center;
  background-size: cover;
  box-shadow:0px 5px 40px #000;
}

.doblocktext {
  height: 350px;
  background-color: #fff;
  box-shadow: 5px 5px 50px #000;
  overflow: scroll;
}

.doblocktext h1 {
  border-bottom: 1px solid #000;
}

.progress-bar {
  background-color: #6d6759;
}


.bar-section p {
  line-height: 15px;
}

.backwhat {
  height: 350px;
  background-color: #D45457;
  box-shadow: 5px 5px 50px #000;
  position: absolute;
  top: 22%;
  right: -1%;
  z-index: 1;
}



/*==============WORK============*/
.work {
  background-color: #7a7a7a;
  height: 800px;
  box-shadow: 5px 5px 50px #000;
  position: absolute;
  top: 44%;
  left: 0;
  right: 0;
  z-index: 2;
}



.work-text {
  margin: 20px;
  font-size: 50px;
  border-bottom: 1px solid #fff;
}

.workbox {
  /*border: 1px solid #000;*/
  height: 250px;
}

.backwork1 {
  height: 350px;
  background-color: #D45457;
  box-shadow: 5px 5px 50px #000;
  position: absolute;
  top: 63%;
  right: 3%;
  z-index: 1;
}

.backwork2 {
  height: 350px;
  background-color: #6d6759;
  box-shadow: 5px 5px 50px #000;
  position: absolute;
  top: 60%;
  right: 30%;
  z-index: 1;
}

.backwork3 {
  height: 350px;
  background-color: #6d6759;
  box-shadow: 5px 5px 50px #000;
  position: absolute;
  top: 38%;
  left: 5%;
  z-index: 1;
}

.backwork4 {
  height: 350px;
  background-color: #D45457;
  box-shadow: 5px 5px 50px #000;
  position: absolute;
  top: 41%;
  left: 40%;
  z-index: 1;
}

/*============WORK BOXES ROW 1============*/
.w1 {
  background-image: url("../img/mt.png");
  background-size: cover;
}

.w2{
  height: 70px;
  background-image: url("../img/mt logo.png");
  margin-top: -50px;

}

.w3 {
  background-image: url("../img/petstore.png");
  background-size: cover;
}

.w4 {
  background-image: url("../img/bottomlogo.jpg");
  background-size: cover;
  height: 80px;
  margin-top: -150px;
  color: #fff;
}

.w5 {
  background-image: url("../img/Dorie 1.jpg");
  background-size: cover;
  height: 420px;
}

.w6 {
  background-image: url("../img/rest.png");
  background-size: cover;
  margin-top: -150px;

}

.workcontain {
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.6);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.workcontain:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap;
  color: white;
  position: relative;
  overflow: hidden;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*============CONTACT=================*/
.contact {
  height: 450px;
  background-color: #fff;
  box-shadow: 5px 5px 50px #000;
  position: absolute;
  top: 78%;
  left: 16%;
  z-index: 2
}

.contact h1 {
  border-bottom: 1px solid #000;
}

#form-submit {
  font-family: 'Playfair Display', serif;
  padding: 20px;
  width: 48%;
  margin-top: 10px;
}

#form-reset {
  font-family: 'Playfair Display', serif;
  padding: 20px;
  width: 48%;
  margin-top: 10px;
}

.backwork5 {
  height: 350px;
  background-color: #D45457;
  box-shadow: 5px 5px 50px #000;
  position: absolute;
  top: 75%;
  left: 10%;
  z-index: 1;
}

.backwork6 {
  height: 350px;
  background-color: #6d6759;
  box-shadow: 5px 5px 50px #000;
  position: absolute;
  top: 83%;
  left: 65%;
  z-index: 1;
}


/*===============FOOTER================*/
footer {
  background-color: #000;
  height: 150px;
  bottom: 0;
  clear: both;
}


footer p, i {
  margin-top: 5px;
  color: #fff;
}

footer p:hover, i:hover {
  color: #837f7f;
}

.circle {
  height: 300px;
  /*border-radius: 50%;*/
  background-color: #D45457;
  box-shadow: 5px 5px 50px #000;
  margin-top: -60%;
}

.text-wrapper {
  padding-top: 20%;
}

/*=========ANIMATION=============*/
  @keyframes fadein {
    0% {
      opacity: 0;
    }

    25% {
      opacity: 25%;
    }

    50% {
      opacity: 50%;
    }

    100% {
      opacity: 100%;
    }

  }


/*=============MEDIA QUERIES===========*/


@media only screen and (max-width: 769px ) {

/*=========HEADER=============*/
  #logo h1 {
    padding: 0;
  }

  .headercover {
    height: 700px;
  }

  #logoheader {
    height: 60px;
    transform: translateY(-20px);
  }

/*========FLOAT BOXES========*/
  .background {
    margin: 0 20px;
  }



  /*=======WORK========*/
  .workbox {
    height: 100px;
    margin-top: 10px;
  }



  .work {
    overflow: scroll;
  }

    /*========FOOTER======*/

@media only screen and (max-width: 799px ) {
  .circle {
    height: 200px;
    margin-top: -50%;
  }

  .text-wrapper {
    padding-top: 10%;
  }

}
